%h1= board.name
.total Total Estimated Work: #{board.total_work} days
%ul
  - board.work_by_list.each do |list, work|
    %li.list
      .name= list.name
      #{work} days (#{(work / board.total_work.to_f * 100.0)}%)
